@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-slight-pale-blue: hsl(225, 100%, 96%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-pale-blue);
  background-image: url('./images/pattern-background-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Red Hat Display', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url('./images/pattern-background-desktop.svg');
  }
}

.card-main-container {
  background-color: var(--neutral-very-pale-blue);
  width: 90%;
  aspect-ratio: 420/730;
  max-width: 420px;
  max-height: 90vh;
  border-radius: 15px;
}

.image-container {
  background-color: var(--primary-bright-blue);
  background-image: url("./images/illustration-hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 30%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  height: 70%;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.8;
  height: 45%;
}

.text-title {
  margin-bottom: 10px;
  color: var(--dark-blue);
  font-weight: 900;
}

.text-paragraph {
  color: var(--neutral-desaturated-blue);
  max-width: 338px;
}

.plan-container {
  height: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.plan-inner-container {
  background: var(--neutral-slight-pale-blue);
  width: 85%;
  height: 85%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plan-info {
  text-align: left;
}

.plan-title {
  font-weight: bold;
  color: var(--dark-blue);
}

.plan-price {
  color: var(--neutral-desaturated-blue);
}

.change-plan a {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--primary-bright-blue);
}

.change-plan a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.payment-container {
  height: 30%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.payment-container a {
  font-weight: bold;
  text-decoration: none;
}

.payment-container a:nth-of-type(1) {
  color: var(--neutral-very-pale-blue);
  background: var(--primary-bright-blue);
  width: 85%;
  padding: 15px 0;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 20px;
}

.payment-container a:nth-of-type(1):hover {
  opacity: 0.6;
}

.payment-container a:nth-of-type(2) {
  color: var(--neutral-desaturated-blue);
}

.payment-container a:nth-of-type(2):hover {
  color: var(--dark-blue);
}